.container {
  @apply flex flex-col items-center z-0;
}

.homeForm {
  @apply flex justify-center items-center flex-col gap-6 h-full;
}

.homeForm>input {
  @apply mx-10 p-2 rounded-md
}

.buttonForm {
  @apply bg-black rounded-md px-4 py-2
}

.title {
  @apply flex uppercase p-16 text-lg;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #13e0ff 67%,
      #fff800 100%);
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}